<html>
  <head>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <h3><a href="/">Home</a> -> <%= catData.category_name %></h3>
    <a href="/product/new">Add Product</a>

    <table>
      <tr>
        <th>Product ID</th>
        <th>Product SKU</th>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Category ID</th>
        <th>Price</th>
        <th>Product Image</th>
        <th>Category Name</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <% prodData.forEach(prod => { %>
      <tr>
        <td><%= prod.product_id %></td>
        <td><%= prod.sku %></td>
        <td><%= prod.product_name %></td>
        <td><%= prod.product_description %></td>
        <td><%= prod.category_id %></td>
        <td><%= prod.price %></td>
        <td><%= prod.product_image %></td>
        <td><%= prod.category_name %></td>
        <td><a href="/product/<%= prod.product_id %>">View</a></td>
        <td>
          <a href="/product/<%= prod.product_id %>/edit">Edit</a>
        </td>
        <td>
          <form
            method="POST"
            action="/product/<%= prod.product_id %>/delete"
            onsubmit="return confirm('Delete this product?')"
          >
            <button type="submit">Delete Product</button>
          </form>
        </td>
      </tr>

      <% }) %>
    </table>
  </body>
</html>
