<html>
  <head>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <h3><a href="/">Inventory App</a></h3>
    <a href="/category/new">Add category</a>

    <table>
      <tr>
        <th>Category ID</th>
        <th>Category Name</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <% catData.forEach(cat => { %>
      <tr>
        <td><%= cat.id %></td>
        <td><%= cat.category_name %></td>
        <td><a href="/category/<%= cat.id %>">View</a></td>
        <td><a href="/category/<%= cat.id %>/edit">Edit</a></td>
        <td>
          <form
            method="POST"
            action="/category/<%= cat.id %>/delete"
            onsubmit="return confirm('Delete this category?')"
          >
            <button type="submit">Delete Category</button>
          </form>
        </td>
      </tr>

      <% }) %>
    </table>
  </body>
</html>
